{% extends "base.html" %}
{% load staticfiles %}

{% block javascript %}
{{ block.super }}
<script src="{% static "js/mountains/user_location.js" %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}
    &signed_in=true&libraries=places&callback=initAutocomplete" async defer>
</script>
{% endblock javascript %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "css/mountains/user_location.css" %}">
{% endblock stylesheets %}

{% block content %}
<form id="location_form" name="location-form" action="{% url "mountain_results" %}" method="GET" onsubmit="validateLocation()">
    {% if errors.no_results %}
    <div> No mountains found for your location and drive time. Please change location or increase drive time.</div>
    {% endif %}
    <h2 {% if errors.address %} style="color:red;" {% endif %}>Enter your location</h2>
    <input id="location_autocomplete" placeholder="Enter your address" name="address"
        onFocus="geoLocate()" type="text"></input>

    <h2 {% if errors.drive_time %} style="color:red;" {% endif %}>Enter your maximum drive time</h2>
    <input name="drive_time"
        placeholder="Enter your maximum drive time (hours)" type="text"></input>

    <h2>Are you shredding today or tomorrow?</h2>
    <select name="going_today">
        <option value="True">Today</option>
        <option value="False">Tomorrow</option>
    </select>
    <br>
    <button type="submit">Find me snow</button>
</form>
{% endblock content %}